<main class="container-md my-5">
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="heading p-3">
                    <h1 class="page-name" value="about">ABOUT ME</h1>
                    <hr>
                    <p>My full name is CHU QUANG HUY. I am an intern Web Developer. I have been studying at the
                        University of Transport and Communications (Hanoi, Vietnam) since 2021. I always try hard and
                        improve myself every day. My dream is to become a great programmer.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="contact-container">
                    <h2>Contact Information</h2>
                    <hr>
                    <ul class="contact-list">
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <span class="mx-3">(+84)967.259.370</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                apartment
                            </span>
                            <span class="mx-3">University of Transport and Communications</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            <span class="mx-3">Cau Giay, Ha Noi</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                mail
                            </span>
                            <span class="mx-3">Email: <i>huyquang0028@gmail.com</i>
                            </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                public
                            </span>
                            <span class="mx-3">Github:
                                <a href="https://github.com/Harryguci">https://github.com/Harryguci</a>
                            </span>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined">
                                dashboard
                            </span>
                            <span class="mx-3">FB:
                                <a
                                    href="https://www.facebook.com/chu.huy.020808/">https://www.facebook.com/chu.huy.020808/</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5 mt-md-0">
            <div class="avatar">
                <div class="thumbnail w-100">
                    <img src="./images/z3986264309376_f236e626b5126f7acfe6af447286eba4.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</main>